@font-face {
	font-family: 'Vertigo';
	src: url('../fonts/vertigo/VertigoFLF-Bold.eot');
	src: url('../fonts/vertigo/VertigoFLF-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vertigo/VertigoFLF-Bold.woff') format('woff'),
		url('../fonts/vertigo/VertigoFLF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Labtop';
	src: url('../fonts/labtop/Labtop-Bold.eot');
	src: url('../fonts/labtop/Labtop-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/labtop/Labtop-Bold.woff') format('woff'),
		url('../fonts/labtop/Labtop-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body, html {
	font-family: 'Vertigo', sans-serif;
	font-size: 25px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 60px;
}
h3, h4 {
	color: #121d1f;
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.btn {
	font-size: 24px;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/* d3 */
.hexagon {
  stroke: #000;
  stroke-width: 2px;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #121d1f;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-size: 35px;
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	letter-spacing: 2px;
	font-size: 20px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 25px 0 45px 0;
}
/* About Section */
#about {
	padding: 100px 0;
	background: #f6f6f6;
}
#about .about-text {
	margin-left: 10px;
	letter-spacing: 0.02em;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Skills Section */
#skills {
	padding: 100px 0;
	background: #7bc3d1;
}
#skills h2 {
	color: #fff;
}
#skills hr {
	background: rgba(255,255,255,0.3);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
/* Portfolio Section */
#portfolio {
	padding: 80px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	background: #7bc3d1;
	color: #fff;
	padding: 6px 14px;
}
ol.type li a.active {
	background: #121d1f;
	color: #fff;
}
ol.type li a:hover {
	background: #121d1f;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 210px;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 7px 10px 1px rgba(2, 24, 35, 0.45);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Achivements Section */
#achievements {
	padding: 100px 0;
	background: #7bc3d1;
}
#achievements h2 {
	color: #fff;
}
#achievements hr {
	background: rgba(255,255,255,0.3);
}
.achievement-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}
/* Languages Section */
#languages {
	padding: 100px 0;
	background: #7bc3d1;
}
/* Resume Section */
#resume {
	padding: 100px 0;
	background: #f6f6f6;
}
.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	background-color: #eee;
}
.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 70px;
	height: 70px;
	margin-left: 0;
	border: 1px solid #eee;
	border-radius: 100%;
	text-align: center;
	background: #fff;
}
.timeline>li .timeline-image h4 {
	margin-top: 20px;
	font-size: 14px;
	text-transform: uppercase;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 35px;
}
.timeline .timeline-heading h2 {
	margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #629ca7;
	font-size: 25px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
}
/* Contact Section */
#contact {
	padding: 100px 0 40px 0;
	color: #121d1f;
	background: #7bc3d1;
	// background: #7bc3d1;
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.3);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
#contact .btn {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #121d1f;
	border: 1px solid #121d1f;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #121d1f;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}
.icon {
	background-color: #fff !important;
	display: inline-block;
	margin: 0;
	line-height: 0;
	cursor: default;
	padding: 0;
	-webkit-perspective: 4000px;
	-moz-perspective: 4000px;
	perspective: 4000px;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective-origin: 50% 0%;
}
.icon .img {
	-webkit-transform: translateZ(50px);
	-moz-transform: translateZ(50px);
	-ms-transform: translateZ(50px);
	-o-transform: translateZ(50px);
	transform: translateZ(50px);
}
.icon .icon-label {
	-webkit-transform: rotateX(90deg) translateZ(150px);
	-moz-transform: rotateX(90deg) translateZ(150px);
	-ms-transform: rotateX(90deg) translateZ(150px);
	-o-transform: rotateX(90deg) translateZ(150px);
	transform: rotateX(90deg) translateZ(150px);
}
.icon:hover {
	-webkit-transform: rotateX(-89deg) scale3d(1.05,1.05,1.05);
	-moz-transform: rotateX(-89deg) scale3d(1.05,1.05,1.05);
	-ms-transform: rotateX(-89deg) scale3d(1.05,1.05,1.05);
	-o-transform: rotateX(-89deg) scale3d(1.05,1.05,1.05);
	transform: rotateX(-89deg) scale3d(1.05,1.05,1.05);
}
.icon .icon-label,
.icon .img {
	-webkit-transition: background 250ms ease;
	-moz-transition: background 250ms ease;
	-o-transition: background 250ms ease;
	transition: background 250ms ease;
}
.icon:hover .img {
	background: #fff;
}
.icon-label {
  background: #333;
  color: #fff;
}
.icon,
.icon .icon-label,
.icon .img {
	background-size: 70px 70px !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	width: 100px;
	height: 100px;
}
.icon-label span {
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	line-height: 1em;
}
.icon-js {
	background-image: url('../img/icons/js.png');
}
.icon-php {
	background-image: url('../img/icons/php.png');
}
.icon-python {
	background-image: url('../img/icons/python.png');
}
.icon-cpp {
	background-image: url('../img/icons/cpp.png');
}
.icon-java {
	background-image: url('../img/icons/java.png');
}
.icon-html5 {
	background-image: url('../img/icons/html5.png');
}
.icon-csharp {
	background-image: url('../img/icons/csharp.png');
}
.icon-asp {
	background-image: url('../img/icons/asp.png');
}
.icon-angular {
	background-image: url('../img/icons/angular.png');
}
.icon-bootstrap {
	background-image: url('../img/icons/bootstrap.png');
}
.icon-jquery {
	background-image: url('../img/icons/jquery.png');
}
.icon-lodash {
	background-image: url('../img/icons/lodash.png');
}
.icon-phaser {
	background-image: url('../img/icons/phaser.png');
}
.icon-d3 {
	background-image: url('../img/icons/d3.png');
}
.icon-mocha {
	background-image: url('../img/icons/mocha.png');
}
.icon-karma {
	background-image: url('../img/icons/karma.png');
}
.icon-git {
	background-image: url('../img/icons/git.png');
}
.icon-atlassian {
	background-image: url('../img/icons/atlassian.png');
}
.icon-node {
	background-image: url('../img/icons/node.png');
}
.icon-nginx {
	background-image: url('../img/icons/nginx.png');
}
.icon-apache {
	background-image: url('../img/icons/apache.png');
}
.icon-grunt {
	background-image: url('../img/icons/grunt.png');
}
.icon-gulp {
	background-image: url('../img/icons/gulp.png');
}
.icon-postgresql {
	background-image: url('../img/icons/postgresql.png');
}
.icon-mysql {
	background-image: url('../img/icons/mysql.png');
}
.icon-sqlite {
	background-image: url('../img/icons/sqlite.png');
}
.icon-mongodb {
	background-image: url('../img/icons/mongodb.png');
}
.icon-oracle {
	background-image: url('../img/icons/oracle.png');
}
.icon-sqlserver {
	background-image: url('../img/icons/sqlserver.png');
}
.icon-css {
	background-image: url('../img/icons/css.png');
}
.icon-sass {
	background-image: url('../img/icons/sass.png');
}
.icon-less {
	background-image: url('../img/icons/less.png');
}
.icon-aws {
	background-image: url('../img/icons/aws.png');
}
.icon-docker {
	background-image: url('../img/icons/docker.png');
}
.icon-socket {
	background-image: url('../img/icons/socket.png');
}
.icon-autocad {
	background-image: url('../img/icons/autocad.png');
}
.icon-photoshop {
	background-image: url('../img/icons/photoshop.png');
}
.icon-gimp {
	background-image: url('../img/icons/gimp.png');
}
.icon-3dsmax {
	background-image: url('../img/icons/3dsmax.png');
}
.icon-maya {
	background-image: url('../img/icons/maya.png');
}
.icon-mudbox {
	background-image: url('../img/icons/mudbox.png');
}
.icon-creationkit {
	background-image: url('../img/icons/creationkit.png');
}

/* Media Queries */
@media(min-width:768px) {
	.intro {
		height: 100%;
		padding: 0;
		text-align: left;
		color: #fff;
	}
	.intro H1 {
		font-size: 120px;
		font-weight: 500;
		letter-spacing: 10px;
	}
	.intro .name {
		font-weight: 600;
	}
	.intro .intro-text {
		max-width: 75%;
	}
	.intro .intro-text p {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	section {
		padding: 120px 0;
	}
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 200px;
	}
	.timeline:before {
		left: 50%;
	}
	.timeline>li {
		margin-bottom: 100px;
		min-height: 100px;
	}
	.timeline>li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline>li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 16px;
		line-height: 18px;
		font-weight: 400;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

@media(min-width:992px) {
	#here-me h1 {
		margin: 10px 0 0px;
	}
	.timeline>li {
		min-height: 150px;
	}
	.timeline>li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline>li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 30px;
		font-size: 18px;
		line-height: 26px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 20px 20px;
	}
}

@media(min-width:1200px) {
	.timeline>li {
		min-height: 170px;
	}
	.timeline>li .timeline-panel {
		padding: 10px 20px 20px 100px;
	}
	.timeline>li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 40px;
		font-weight: 400;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 10px 100px 20px 20px;
	}
}
