@font-face {
	font-family: 'Vertigo';
	src: url('../fonts/vertigo/VertigoFLF-Bold.eot');
	src: url('../fonts/vertigo/VertigoFLF-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vertigo/VertigoFLF-Bold.woff') format('woff'),
		url('../fonts/vertigo/VertigoFLF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Labtop';
	src: url('../fonts/labtop/Labtop-Bold.eot');
	src: url('../fonts/labtop/Labtop-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/labtop/Labtop-Bold.woff') format('woff'),
		url('../fonts/labtop/Labtop-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
